<form action="/records" method="POST">
  <div>
    <label for="name">支出名稱</label>
    <input type="text" placeholder="name" name="name">
    <label for="date">日期</label>
    <input type="date" placeholder="date" name="date">
    <label for="category">類別</label>
    <select class="form-select" id="categoryId" name="categoryId">
      <option disabled selected>類別*</option>
      <option value="1">飲食</option>
      <option value="2">交通</option>
      <option value="3">娛樂</option>
      <option value="4">日用品</option>
      <option value="5">其他</option>
    </select>
    <label for="amount">金額</label>
    <input type="number" placeholder="amount" name="amount">
    <button type="submit">新增支出</button>
  </div>
</form>